<div>

  <div>
    <!--<input type="text" placeholder="country" ng-model="country.title"/>-->
    <!--<input type="text" placeholder="population" ng-model="country.population"/>-->
    <!--<input type="text" placeholder="capitol" ng-model="country.capitol"/>-->
    <!--<input type="text" placeholder="area" ng-model="country.area"/>-->
    <!--<input type="text" placeholder="language" ng-model="country.language"/>-->
    <!--<input type="text" placeholder="religion" ng-model="country.religion"/>-->
    <!--<input type="text" placeholder="currency" ng-model="country.currency"/>-->
    <!--<input type="text" placeholder="gdp" ng-model="country.gdp"/>-->
    <!--<input type="text" placeholder="flag" ng-model="country.flag"/>-->
    <!--<input type="text" placeholder="map" ng-model="country.map"/>-->
    <!--<textarea type="text" placeholder="description" ng-model="country.description" cols="50" rows="8"></textarea>-->
    <!--<textarea type="text" placeholder="national dish" ng-model="country.dish" cols="50" rows="8"></textarea>-->

    <!--<button ng-click="addCountry(country)">Create Country</button>-->

    <md-autocomplete
        md-selected-item="selectedCountry"
        md-search-text="searchCountryText"
        md-items="item in getMatches(searchCountryText)"
        md-item-text="item.title"
        md-floating-label="Select A Country"
        md-selected-item-change="getCountry()">
      <span md-highlight-text="searchCountryText">{{item.title}}</span>
    </md-autocomplete>

    <md-content ng-show="selectedCountry!=undefined">

      <md-divider></md-divider>
      <div>
        <div layout="row" layout-margin layout-fill layout-padding class="gray">
          <div flex><h2>{{selectedCountry.title | uppercase}}</h2></div>
          <div flex><img ng-src="{{selectedCountry.flag}}"></div>
          <div flex><img ng-src="{{selectedCountry.map}}"></div>
        </div>
        <div layout="column" layout-margin layout-fill layout-padding class="gray">
          <div flex><h3>Population: {{selectedCountry.population}}</h3></div>
          <div flex><h3>Capitol: {{selectedCountry.capitol}}</h3></div>
          <div flex><h3>Area Square Miles: {{selectedCountry.area}}</h3></div>
          <div flex><h3>Language: {{selectedCountry.language}}</h3></div>
          <div flex><h3>Religion: {{selectedCountry.religion}}</h3></div>
          <div flex><h3>Currency: {{selectedCountry.currency}}</h3></div>
          <div flex><h3>GDP: {{selectedCountry.gdp}}</h3></div>
        </div>
        <div layout="row" layout-margin layout-fill layout-padding class="gray">
          <div flex><h3>Description:</h3> {{selectedCountry.description}}</div>
        </div>
        <div layout="row" layout-margin layout-fill layout-padding class="gray">
          <div flex><h3>National Dish:</h3> {{selectedCountry.dish}}</div>
        </div>


      </div>

    </md-content>
  </div>

</div>
  