<h1>Messages</h1>
<div>
     <ul>
        <li ng-repeat="warning in dataSet" ng-show="dataSet.length > 1">
           <div class="resultwrapper">
               <h2>{{guitar.make}} {{guitar.model}}</h2>
               <h3>First sold in {{guitar.introyear}}</h3>
               
               <p>{{guitar.desc}}</p>
               <a href="{{guitar.link}}" target="_blank">More info about the {{guitar.model}}...</a>
            </div>
        </li>
        <li ng-show="dataSet.length == undefined">
            <div class="resultwrapper">
               <h2>{{dataSet.make}} {{dataSet.model}}</h2>
               <h3>First sold in {{dataSet.introyear}}</h3>
               <img src="{{IMAGE_LOCATION + dataSet.image}}" />
               <p>{{dataSet.desc}}</p>
               <a href="{{guitar.link}}" target="_blank">More info about the {{dataSet.model}}...</a>
            </div>
        </li>
      </ul>
  </div>

<div ui-view> </div>