<header><h1>Currency Exchange Rates Converter</h1>
  <p><h3>Enter the amount you want to convert, and then enter the currency you have in the "From" entry bar, and after enter the currency you want to convert to in the "To" entry bar</p></h3></header>

<md-content>
  </div>
  <form class="form-inline">


    <div style="padding-bottom: 20px;">
      <md-input-container>
        <label>Enter Amount</label>
        <input type="number" ng-model="amount" class="span2" ng-change="calcNewRate(selectedRate1, selectedRate2)">
      </md-input-container>
    </div>

    <div style="padding-bottom: 20px;">
      <label>From</label>
      <md-autocomplete
          md-selected-item="selectedRate1"
          md-search-text="searchText1"
          md-items="item in getMatches(searchText1)"
          md-item-text="(item.name + ' - ' + item.rate)"
          md-selected-item-change="calcNewRate(selectedRate1, selectedRate2)">
        <span md-highlight-text="searchText">{{item.name}} - {{item.rate}}</span>
      </md-autocomplete>
    </div>

    <div style="padding-bottom: 20px;">
      <label class="span1">To</label>
      <md-autocomplete
          md-selected-item="selectedRate2"
          md-search-text="searchText2"
          md-items="item in getMatches(searchText2)"
          md-item-text="(item.name + ' - ' + item.rate)"
          md-selected-item-change="calcNewRate(selectedRate1, selectedRate2)">
        <span md-highlight-text="searchText">{{item.name}} - {{item.rate}}</span>
      </md-autocomplete>
    </div>

    <md-input-container>
      <label>New Rate</label>
      <input ng-model="newRate" readonly class="span2">
    </md-input-container>



  </form>
</md-content>