
<div ng-controller="NavCtrl" class="" layout="column" layout-fill>
<!-- HEADER -->
	<md-content>
	    <md-toolbar>
	        <div class="md-toolbar-tools">
	            <h2>
	                <span>Travel Site</span>
	            </h2>
	            <span flex></span>
	             <md-button class="md-icon-button" aria-label="Settings">
	             <md-tooltip md-direction="left">Login</md-tooltip>
          <a href="#/login"><ng-md-icon icon="facebook"></ng-md-icon>
        </md-button></a>
	        </div>
	    </md-toolbar>
  	</md-content>

  	<md-content>
  	  <md-whiteframe class="md-whiteframe-z5" layout layout-align="center center">
    <span>
    	<h3>Search for Country</h3>
    	<md-autocomplete
          md-selected-item="selectedItem"
          md-search-text="searchText"
          md-selected-item-change="selectedItemChange(item)"
          md-items="item in getMatches(searchText)"
          md-item-text="item.title"
          
          md-floating-label="Get all country info">
        <md-item-template>
          <span md-highlight-text="searchText">{{item.title}}</span>
        </md-item-template>
        <md-not-found>
          No matches found for "{{searchText}}".
        </md-not-found>
      </md-autocomplete>
 <!--<div>md-highlight-flags="^i"  md-min-length="0"</div>-->



    </span>
  </md-whiteframe>


    </md-content>


	<md-content class="md-padding">

		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab ng-repeat="tab in tabs" label="{{tab.label}}" ng-click="goToTab(tab)"></md-tab>
		</md-tabs>
 	</md-content>

</div>
