<header><h1>Travel Warnings</h1>
  <p><h3>Enter a Country to search for 
    U.S. State Department travel warnings, they are updated every 5 minutes</h3></p></header>
		
           
  <md-autocomplete
        md-selected-item="selectedWarning"
        md-search-text="searchWarningText"
        md-items="item in getMatches(searchWarningText)"
        md-item-text="item.title"
        md-floating-label="Enter a Country you want to search for Travel Warnings"
        md-selected-item-change="getTravel()">
      <span md-highlight-text="searchWarningText">{{item.title}}</span>
    </md-autocomplete>

    <md-content ng-show="selectedWarning!=undefined">

	
  
    
   <md-divider></md-divider> 
      <div layout="row" layout-margin layout-fill layout-padding class="gray">
        <div flex><h2>{{selectedWarning.title | uppercase}}</h2></div>
        
     </div>
     <div layout="column" layout-margin layout-fill layout-padding class="gray">
        <div flex><h3>Date Issued: {{selectedWarning.pubDate}}</h3></div>
        
      </div>
      <div layout="row" layout-margin layout-fill layout-padding class="gray">
        <div flex ng-bind-html="selectedWarning.description"</div>
      </div>
     
      </div>
    </div>

</md-content>
  	



    <!--  <form ng-submit="getTravel()">
    
            <input type="text" ng-model="search"> 
 
            <input type="submit" value="Search">
        </form>


            <div>-->
              <!-- <input type="text" ng-model="search.title"> 
               <button ng-click="getTravel()">Get Travel Warnings</button>-->

           <!--_->
     